<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<%= javascript_tag do -%>
  let chartIsReady = false

  const users = [
    "kapham2",
    "Richardojo86",
    "nickluong",
    "gwatson86",
    "spraguesy",
    "HeadyT0pper",
    "V10LET",
    "mwilliamszoe",
    "NaebIis",
    "sparkbold-git",
    "chelsme",
    "EthanFe",
    "morgvanny",
    "jordantredaniel"
  ]

  const domain = getDomain(document.URL)
  userData = []
  for (const user of users) {
    fetch(`https://${domain}/users/${user}`)
    .then(response => response.json())
    .then(addToUserData)
  }

  function addToUserData(data) {
    userData.push(data)
    userData.sort(function(user1, user2) {
      return user1.labs - user2.labs
    })
    renderChart()
  }

  function renderChart() {
    const dataTable = [['Boolean Icee', 'Labs Completed', {'role': 'style'}]]

    maxLabs = getMaxLabs()
    for (const user of userData) {
      let labsInfo = [user.name, user.labs, (finishedLoading() && (user.labs == maxLabs)) ? "gold" : "blue"]
      dataTable.push(labsInfo)
    }
    
    drawChart(dataTable)
    if (finishedLoading()) {
      const loadingText = document.getElementById("loading-text")
      loadingText.classList.add("invisible")
      loadingText.textContent = "Done!"
    }
  }

  function finishedLoading() {
    return userData.length === users.length
  }

  function getMaxLabs() {
    max = 0
    for (const user of userData) {
      if (max < user.labs)
        max = user.labs
    }
    return max
  }

  function chartReady() {
    chartIsReady = true
  }

  google.charts.load('current', {'packages':['corechart', 'bar']});
  google.charts.setOnLoadCallback(chartReady);

  function drawChart(dataTable) {
    if (!chartIsReady)
      return
    
    var data = google.visualization.arrayToDataTable(dataTable);

    var options = {
      title: 'Labs Leaderboard',
      hAxis: {
        title: 'Boolean Icee',
      },
      animation: {
        "startup": true,
        "duration": 500,
        "easing": 'out'
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
  
  function getDomain(url, subdomain) {
    subdomain = subdomain || false;

    url = url.replace(/(https?:\/\/)?(www.)?/i, '');

    if (!subdomain) {
        url = url.split('.');

        url = url.slice(url.length - 2).join('.');
    }

    if (url.indexOf('/') !== -1) {
        return url.split('/')[0];
    }

    return url;
  }
<% end -%>




<div id="chart_div" width="800" height="600"></div>

<h2 id="loading-text">Loading...</h3>