<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<%= javascript_tag do -%>
  // this is good code.
  const base_url = "https://labs-leaderboard.herokuapp.com/"
  // const base_url = "http://localhost:3000/"
  let chartIsReady = false

  const users = [
    "kapham2",
    "Richardojo86",
    "nickluong",
    "gwatson86",
    "spraguesy",
    "HeadyT0pper",
    "V10LET",
    "mwilliamszoe",
    "NaebIis",
    "sparkbold-git",
    "chelsme",
    "EthanFe",
    "morgvanny",
    "jordantredaniel"
  ]

  userData = []
  for (const user of users) {
    fetch(`${base_url}users/${user}`)
    .then(response => response.json())
    .then(addToUserData)
  }

  function addToUserData(data) {
    userData.push(data)
    userData.sort(function(user1, user2) {
      return user1.labs - user2.labs
    })
    renderChart()
  }

  function renderChart() {
    const dataTable = [['Boolean Icee', 'Labs Completed', {'role': 'style'}]]

    maxLabs = getMaxLabs()
    for (const user of userData) {
      let labsInfo = [user.name, user.labs, (finishedLoading() && (user.labs == maxLabs)) ? "gold" : "blue"]
      dataTable.push(labsInfo)
    }
    
    drawChart(dataTable)
    if (finishedLoading()) {
      const loadingText = document.getElementById("loading-text")
      loadingText.classList.add("invisible")
      loadingText.textContent = "Done!"

      // slice to exclude the chart drawing table header stuff
      submitDataToDatabase(dataTable.slice(1, dataTable.length))
    }
  }

  function finishedLoading() {
    return userData.length === users.length
  }

  function getMaxLabs() {
    max = 0
    for (const user of userData) {
      if (max < user.labs)
        max = user.labs
    }
    return max
  }

  function chartReady() {
    chartIsReady = true
  }

  google.charts.load('current', {'packages':['corechart', 'bar']});
  google.charts.setOnLoadCallback(chartReady);

  function drawChart(dataTable) {
    if (!chartIsReady)
      return
    
    var data = google.visualization.arrayToDataTable(dataTable);

    var options = {
      title: 'Labs Leaderboard',
      hAxis: {
        title: 'Boolean Icee',
      },
      animation: {
        "startup": true,
        "duration": 500,
        "easing": 'out'
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }

  function submitDataToDatabase(dataTable) {
    let url = base_url + "saveData"

    let data = {}
    for (const user of dataTable) {
      data[user[0]] = user[1]
    }
    console.log(data)

    fetch(url, {
      method: 'POST',
      body: JSON.stringify({users: data}),
      headers:{
        'Content-Type': 'application/json'
      }
    })
  }
<% end -%>




<div id="chart_div" width="800" height="600"></div>

<h2 id="loading-text">Loading...</h3>