// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart_div {
  height: 600px;
}

#loading-text {
  text-align: center;
  margin: auto;
  transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  opacity: 1;
}

#loading-text.invisible {
	// display: none;
  opacity: 0;
}